<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:theme="@style/Theme.LinOx"
        android:label="LinOx"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="unspecified"
            android:exported="false" />
        <activity android:name=".EditorActivity" android:exported="false" />
        <activity android:name=".DistroActivity" android:exported="false" />
        <activity
            android:name=".TerminalActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PackageManagerActivity" android:exported="false" />
        <activity android:name=".GitActivity" android:exported="false" />
        <activity android:name=".WorkspaceActivity" android:exported="false" />
    </application>
</manifest>
